<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
</head>

<body>
    <header class="container">
        <h1>{{ display.cuisine.name }} Dish</h1>
        <a href="{% url 'home'%}">Go to home</a>
    </header>
    <main>
        {% for dish in cuisine.display.all%}
        <div class="col">
            <div class="card card-3 stacked--up">
                <div class="content">
                    <img src="{{dish.image.url}}" alt="{{dish.name}}" width="100px">
                    <h1>{{dish.name}}</h1>
                    <h3>{{dish.description}}</h3>
                </div>
            </div>
        </div>
        {%endfor%}
    </main>

    <!-- <a href="{% url 'home' %}">Go back</a>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>name</th>
                <th>description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for dish in cuisine.display.all %}
                <tr>
                    <td>{{dish.name}}</td>
                    <td>{{dish.description}}</td>
                    <td>
                        <a href="/dish_edit/{{ dish.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                        <a href="/dish_delete/{{ dish.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table> -->
    <!-- <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>name</th>
                <th>description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for dish in dishes %}
            <tr>
                <td>{{dish.name}}</td>
                <td>{{dish.discription}}</td>
                <td>
                    <a href="/dish_edit/{{ dish.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                    <a href="/dish_delete/{{ dish.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
</body>

</html>