<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish</title>
</head>

<body>
    <form action="/dish_update/{{dish.id}}" method="POST" class="post-form">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Update Dish</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Dish Name:</label>
                <div class="col-sm-4">
                    <input type="text" name="name" required maxlength="100" value="{{ dish.name }}" />
                </div>
                <label class="col-sm-2 col-form-label">Description:</label>
                <div class="col-sm-4">
                    <textarea name="description" id="description" cols="30" rows="10" value="{{ dish.description }}"></textarea>
                </div>
            </div>
    </form>
</body>

</html>